<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Laura TAING</title>
</head>
<body>
      <div>
          <h1>Laura TAING</h1>
          <p><small>
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                  <path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" fill="currentColor" fill-rule="evenodd"></path>
              </svg>
              Paris, FRANCE
          </small></p>
          <div class="content">
              <p class="image"><img src="static/7798248679_nicolas-sarkozy-et-francois-hollande.jpg"/></p>
              <p class="prez">Bonjour,<p>
              <p class="prez">Voici les présentations de différents projets Data réalisés à SIMPLON.CO en parcours Développeur.se Data.</a>:    
              <!--<p>Présentation visuelle des données sur les éléctions présidentielles de 2012<p>-->
              <p class="prez">Présentation visuelle des données sur les éléctions présidentielles de 2012 à l'aide de  <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a>:
          </div>



<div>
<p class="resultat"><small><a href="{{url_for('static', filename='Répartition des voix par candidat au premier tour - h.png')}}"> - Nombres de voix par candidat au premier tour - histogramme</a></small></p>
<p class="resultat"><small><a href="{{url_for('static', filename='Répartition des voix par candidat au deuxième tour - v.png')}}"> - Nombres de voix par candidat au deuxième tour - histogramme</a></small></p>
<p class="resultat"><small><a href="{{url_for('static', filename='répartition des voix par candidat T1.png')}}"> - Nombres de voix par candidat au premier tour - diagramme circulaire</a></small></p>
<p class="resultat"><small><a href="{{url_for('static', filename='répartition des voix par candidat T2.png')}}"> - Nombres de voix par candidat au deuxième tour - diagramme circulaire</a></small></p>
<p class="resultat"><small><a href="{{ url_for('resultat_abstention_T1')}}"> - Résultat de l'abstention au 1er tour</a></small></p>
<p class="resultat"><small><a href="{{ url_for('resultat_abstention_T2')}}"> - Résultat de l'abstention au 2ème tour</a></small></p>
<p class="resultat"><small><a href="{{ url_for('resultat_candidat_T1_Sarkozy')}}"> - Répartition des voix pour Sarkozy au 1er tour</a></small></p>
<p class="resultat"><small><a href="{{ url_for('resultat_candidat_T2_Sarkozy')}}"> - Répartition des voix pour Sarkozy au 2ème tour</a></small></p>
<p class="resultat"><small><a href="{{ url_for('resultat_repartition_taux_de_pauvrete_fr')}}"> - Résultat de la répartition du taux de pauvreté en France</a></small></p>
</div>

          <div class="social-icon">
                <a href="https://www.linkedin.com/in/tlaura/">
                    
                </a>
            </div>

          <div class="social-icon">
              <a href="https://www.linkedin.com/in/tlaura/">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                      <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" fill="currentColor" fill-rule="evenodd"></path>
                  </svg>
              </a>
          </div>
          

          <div class="social-icon">
              <a href="https://www.github.com/taingl/">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                      <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" fill="currentColor" fill-rule="evenodd"></path>
                  </svg>
              </a>
          </div>

          <div class="social-icon">
              <a href="https://gitlab.com/ltaing">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                <img src="https://www.vectorlogo.zone/logos/gitlab/gitlab-icon.svg" width="30" height="30" viewBox="0 0 24 24" />
                </svg>
              </a>
          </div>
      </div>
</body>
</html>