<form method="post" action="redirection_navigation.php">
    <p>
    <!-- une balise select ou input ne peut pas être imbriquée directement dans form -->
         <select name="menu_destination">
              <option value="resultat.html">Résultat d'analyse descriptive</option>
              <option value="Abstention_T1.html">Résultat de l'abstention au 1er tour</option>
              <option value="Abstention_T2.html">Résultat de l'abstention au 2er tour</option>
              <option value="Abstention_T1.html">Répartition des voix par candidat au 1er tour</option>
              <option value="Abstention_T1.html">Répartition des voix par candidat au 1er tour</option>
              <option value="Candidat_T1_SARKOZY.html">Résultat Sarkozy au 1er tour</option>
              <option value="Candidat_T2_SARKOZY.html">Résultat Sarkozy au 2er tour</option>
              <option value="Taux_de pauvreté.html">Taux de pauvreté</option>
         </select>
    
         <input type="submit" value="Go" title="valider pour aller à la page sélectionnée" />
    
    </p>
    </form>