<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <div style="text-align: center">
    <title>Résultats des éléctions de 2012 (Dataviz)</title>
  </head>
  <body>
    <h1> Dataviz sur la répartition des voix par candidat </h1>
    <p> Nombres de voix par candidat au premier tour - histogramme </p>
    <img
    src="/Users/Johanna/Documents/SIMPLON/PROJET/Présentation/static/electionfr_candidat_t1.png" 
    alt="[Nombres de voix par candidat au premier tour - histogramme]"
    height="400px" 
    width="850px" 
/>
<p> Nombres de voix par candidat au deuxième tour - histogramme </p>
    <img
    src="/Users/Johanna/Documents/SIMPLON/PROJET/Présentation/static/electionfr_candidat_t2.png" 
    alt="[Nombres de voix par candidat au deuxième tour - histogramme]"
    height="400px" 
    width="850px" 
/>
<p> Nombres de voix par candidat au premier tour - diagramme circulaire  </p>
    <img
    src="/Users/Johanna/Documents/SIMPLON/PROJET/Présentation/static/répartition des voix par candidat T1.png" 
    alt="[Nombres de voix par candidat au premier tour - diagramme circulaire]"
    height="600px" 
    width="600px" 
/>
<p> Nombres de voix par candidat au deuxième tour - diagramme circulaire  </p>
    <img
    src="/Users/Johanna/Documents/SIMPLON/PROJET/Présentation/static/répartition des voix par candidat T2.png" 
    alt="[Nombres de voix par candidat au deuxième tour - diagramme circulaire]"
    height="600px" 
    width="600px"  
/>
</div>
  </body>
</html>